# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.pyc
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
